//Header
.wrapper-fixed {
    .header {
      .header__wrapper {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 5px 2px 5px rgba(153, 153, 153, 0.9);
      }
      .header__body {
        min-height: 50px;
        @media (min-width: $md2+px) {
          min-height: 70px;
        }
      }
    }
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    .header__wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      transition: background-color 0.3s ease 0s;
      transition: box-shadow 0.5s ease;
    }
    .header__body {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 5px 0;
      min-height: 125px;
      position: relative;
      transition: min-height 0.3s ease 0s;
      @media (max-width: $md2+px) {
        min-height: 80px;
      }
      @media (max-width: $md3+px) {
        min-height: 50px;
      }
    }
    .header__main {
      display: flex;
      flex: 1 1 494/1240 * 100%;
      align-items: center;
      @media (min-width: $md2+px) {
        flex: 1 1 auto;
      }
    }
    .header__logo {
      color: #000;
      font-weight: 700;
      font-size: 24px;
      line-height: 29/24 * 100%;
      position: relative;
      z-index: 7;
    }
    .header__search {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
    }
  }
  
  .menu {
    flex: 0 1 420px;
    .menu__body {
      @media (max-width: $md3 + px) {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: -100%;
        background-color: #fcf8f3;
        transition: left 0.3s ease 0s;
        padding: 70px 15px 30px 15px;
        &::before {
          content: "";
          position: fixed;
          width: 100%;
          height: 50px;
          top: 0;
          left: -100%;
          transition: left 0.3s ease 0s;
          background-color: #fcf8f3;
          z-index: 2;
        }
        &._active { 
          left: 0;
          z-index: 6;
          &::before{
            left: 0;
          }
        }
      }
    }
    .menu__list {
      @media (min-width: $md3 + px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
    }
    .menu__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0px 3px;
      padding: 5px 0px;
      position: relative;
      @media (min-width: $md3+px) {
        &:hover{
          .menu__sub-list {
            transform: translate(0px, 0px);
            opacity: 1;
            overflow: visible;
            pointer-events: auto;
          }
          .menu__arrow {
            transform: rotate(-180deg);
          }
          .menu__arrow,
          .menu__link {
            color: $orangeColor;
          }
        }
      }
      @media (min-width: $md3+px) {
        &._hover {
          &:hover{
            .menu__sub-list {
              transform: translate(0px, 0px);
              opacity: 1;
              overflow: visible;
              pointer-events: auto;
            }
            .menu__arrow {
              transform: rotate(-180deg);
            }
            .menu__arrow,
            .menu__link {
              color: $orangeColor;
            }
          }
        }
      }
      @media (max-width: $md3+px){
        &._hover{
          .menu__arrow {
            transform: rotate(-180deg);
          }
          .menu__arrow,
          .menu__link {
            color: $orangeColor;
          }
        }
        margin: 0px 0px 15px 0px;
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
    .menu__link {
      font-weight: 500;
      color: inherit;
      transition: color 0.3s ease 0s;
      @media (max-width: $md3 + px) {
        font-size: 24px;
        font-weight: 600;
      }
    }
    .menu__arrow {
      margin: 0px 0px 0px 8px;
      transition: all 0.3s ease 0s;
      font-size: 8px;
      background-color: inherit;
      @media (max-width: $md3 + px) {
        font-size: 14px;
      }
    }
    .menu__sub-list {
      display: none;
      position: relative;
      background-color: $orangeColor;
      padding: 15px;
      flex: 1 1 100%;
      @keyframes fade {
        0% {
             opacity: 0;
             height: 0;
        }
        50% {
            opacity: 1;
            height: 50%;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
      }
      &.active{
        display: block;
        animation: fade 1s linear;
      }
      @media (min-width: $md3+px){
        display: block;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        min-width: 200px;
        left: 0;
        position: absolute;
        top: 100%;
        transition: all 0.3s ease 0s;
        transform: translate(0px, 10px);
        z-index: 5;
      }
      
      @media (max-width: $md3+px) {
        margin: 10px -15px 0px -15px;
      }
    }
    .menu__sub-item {
      &:not(:last-child) {
        margin: 0px 0px 5px 0px;
        @media (max-width: $md3+px) {
          margin: 0px 0px 10px 0px;
        }
      }
    }
    .menu__sub-link {
      color: #fff;
      line-height: 120%;
      @media (any-hover: hover) {
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .search-form {
    max-width: 473px;  
    &._active {
      .search-form__item {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
      .search-form__icon {
        color: $orangeColor;
      }
    }
    .search-form__icon {
      position: relative;
      z-index: 5;
      font-size: 22px;
      color: #262f56;
      float: right;
      background-color: inherit;
      @media (min-width: $md2+px) {
        display: none;
      }
    }
    .search-form__item {
      background-color: #fff;
      display: flex;
      align-items: center;
      @media (max-width: $md2+px) {
        box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: -100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
      }
    }
    .search-form__btn {
      flex: 0 0 45px;
      height: 45px;
      font-size: 15px;
      color: #333333;
      background-color: inherit;
    }
    .search-form__input {
      font-size: 14px;
      color: $darkGrayColor;
      width: 100%;
      padding: 0px 20px 0px 0px;
    }
  }
  .actions-header {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
  
    .actions-header__item_favorites {
      color: #262f56;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
    }
    .actions-header__item_user {
      overflow: hidden;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      @media (max-width: 310px) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .cart-header {
    .cart-header__icon {
      color: #262f56;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      position: relative;
      display: block;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
      span {
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background-color: $orangeColor;
        color: #fff;
        font-size: 12px;
      }
    }
    &__body {
      background: #f4f5f7;
      border: 1px solid #e5e0e0;
      position: absolute;
      top: 70px;
      right: 0;
      padding: 15px;
      width: 300px;
      opacity: 0;
      overflow: hidden;
      transform: translate(0px, 20px);
      transition: all 0.3s ease;
      z-index: -1;
      ._active &{
        opacity: 1;
        overflow: visible;
        transform: translate(0px, 0px);
        z-index: 5;
      }
      @media (max-width: $md3+px){
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
      }
    }
  }
  .icon-menu{
    display: none;
    @media (max-width: $md3+px) {
      display: flex;
      position: relative;
      height: 20px;
      width: 30px;
      cursor: pointer;
      z-index: 7;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        &:first-child {
          top: 0px;
        }
        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: 12px;
          }
          &:last-child {
            transform: rotate(45deg);
            top: 12px;
          }
        }
      }
    }
  }